@model IEnumerable<GamaExamBackend.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers_C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers_D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers_E)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrueAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers_D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers_E)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrueAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contest.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
